html, body { margin: 0; padding: 0 }
body { background: url("../images/acomsBackground.jpg") no-repeat; padding: 30px 0 0 180px }

#section1 { padding: 10px }
#detailGrid { margin-left: 5px }

.jqx-grid-cell.jqx-grid-cell-metro { font-size: 11px }

.hidden { display: none }

#dgDetailTemplate { font-size: 11px; font-family: 'segoe ui', arial, sans-serif }

.dgDetailBox { border: solid lightgrey; border-width: 1px 1px 0 1px; height: 100%; box-sizing: border-box; width: 776px; padding: 5px }
.dgDetailBox::after { content: ""; height: 0; width: 0; float: none; clear: both; display: block }

.detailColumn { float: left; min-width: 185px }
.detailHeader { width: 100%; float: none; height: 20px }

.detailRow { height: 18px }
.detailRow::after { content: ""; float: none; clear: both; display: block }

.detailLabel { float: left; width: 105px }
.detailHeaderLabel { float: left; min-width: 80px }

.detailValue { float: left; width: 80px; font-weight: bold; font-size: 12px; color: darkblue; min-width: 80px }
.detailHeaderValue { float: left; font-weight: bold; font-size: 12px; color: darkblue; padding: 0 20px 0 10px }

#buttonRow { width: 600px }
#buttonRow::after { content: ""; clear: both; display: block; float: none }
.control { float: left; margin-right: 10px; margin-bottom: 10px }
.controlLabel { float: left; font-size: 10px; font-family: 'segoe ui', arial, sans-serif; padding: 5px;  }
.controlLabel.wide { width: 75px }
.controlLabel.narrow { width: 35px }

.sorted { background-color: lightgrey }

.flags { background-color: whitesmoke; height: 25px; padding-left: 5px; }

.flag { display: inline-block; font-size: 9px; margin-top: 6px; border: 1px solid lightgrey; padding: 1px; color: lightgrey }

.OFF { color: lightgrey }
.WHI { color: darkslategrey; background-color: white }
.YEL { color: darkslategrey; background-color: yellow }
.RED { color: white; background-color: orangered }

.calcCell { margin-left: 4px; margin-top: 4px }

.zebra1 { background-color: #FDFDFD }
.zebra2 { background-color: lightcyan }